streamlit==1.19.0
pandas==2.1.0
requests==2.31.0
openai==0.27.8
ratelimit==2.2.1
langchain-openai==0.0.1
langchain==0.18.0
google-auth==2.23.0
google-auth-oauthlib==0.9.1
google-auth-httplib2==0.2.0
google-api-python-client==2.98.0
googleapiclient==2.98.0
dotenv==0.21.0
